/* Global */
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightgray;
}

body, html {
  background-color: #11111B;
  margin: 0;
  padding: 0;
}

.main-container {
  padding-top: 60px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A253A;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-left 
.company-name {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #11111B;
  border-radius: 4px;
}

/* Login and Register */
.login-container, .register-container {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  background-color: #1A253A;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.login-container h2, .register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333344;
  color: #ffffff;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4444cc;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #6666ff;
}

/* Welcome */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  padding: 20px;
}

.welcome-container h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.welcome-container p {
  font-size: 1.2rem;
  color: #bbbbbb;
  margin-bottom: 1.5rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #4444cc;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #6666ff;
}